	<div style="padding:10px;"></div>
	</div><!--End of inner-->
    </div><!--End of header-bg-->
</div><!--End of header-->

<div id="breadcrums">
	<div class="container_wrap">
		<div class="full_width">
			<div class="breadcrums">
				<div class="column-680">
					<h2 class="font"><%= @service.title %></h2>
				</div><!--End of column-680-->
				<div class="one_fourth">
				
				</div><!--End of one_fourth-->
				<div class="clear">&nbsp;</div>
			</div><!--Endo of breadcrums-->
			<div class="clear">&nbsp;</div>
			<div class="hrline">&nbsp;</div>
		</div><!--end of full_width-->
		<div class="clear">&nbsp;</div>
	</div><!--End of container_wrap-->
</div><!--End of breadcrums-->

<div id="page-left-sidebar-block">
	<div class="container_wrap">
		<div class="two_third">
			<div class="sblock">
				<blockquote><%= @service.body %></blockquote>
				<div class="clear">&nbsp;</div>
				
				<div class="hrline-short">&nbsp;</div>
			</div><!--End of sblock-->
		</div><!--End of two_third-->
		
        <div class="one_third">
        	<div id="sidebar">
            	<div class="sidebar-block">
                	<div class="title">
                    	<h5 class="font">Services</h5>
                    </div><!--End of title-->
                    <div class="block">
                    	<ul>
                            <li><a href="/service/web-design/">Web Design</a></li>
                            <li><a href="/service/web-programming">Web Programming</a></li>
							<li><a href="/service/logo-design/">Logo Design</a></li>
							<li><a href="/service/internet-marketing/">Internet Marketing</a></li>
							<li><a href="/service/erpcrm-solution">ERP/CRM Solution</a></li>
							<li><a href="/service/rails-training">Rails Training</a></li>
                        </ul>
                    </div><!--End of block-->
                    <a href="/request-a-quote"><img src="/images/quotes.png" title="Ask for quotes"></a>
                </div><!--End of sidebar-block-->
            	
            	
                <div class="clear">&nbsp;</div>
            </div><!--End of sidebar-->
        </div><!--End of one_third-->
		
		<div class="clear">&nbsp;</div>
	</div><!--End of container_wrap-->
</div><!--End of page-left-sidebar-block-->
