        <div class="container_wrap">
            <div class="full_width">
            
            <!--Begin of slider-->
            
                <div id="slide">
                    <ul id="slider">
                        <li>
                            <img src="/images/assets/01.jpg" height="320" width="918" alt="Test"/>
                            <h2 class="font">Cum sociis natoque penatibus et</h2>
                            <p>Morbi sagittis, dolor nec tempor condimentum, libero quam euismod quam, sed sodales purus nisl eget felis. Pellentesque elit massa, cursus id venenatis quis; feugiat a turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                        </li>
                        <li>
                            <img src="/images/assets/02.jpg" height="320" width="918" alt="Test"/>
                            <h2 class="font">Dolor nec tempor condimentum</h2>
                            <p>Morbi sagittis, dolor nec tempor condimentum, libero quam euismod quam, sed sodales purus nisl eget felis. Pellentesque elit massa, cursus id venenatis quis; feugiat a turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                        </li>
                    </ul><!--End of myslide-->
                    <div class="slider-shadow"></div>
                </div><!--End of slide-->
                
                <!--End of slider-->
                
            </div><!--End of full_width-->
            <div class="clear">&nbsp;</div>
        </div><!--End of container_wrap-->
        </div><!--End of inner-->
    </div><!--End of header-bg-->
</div><!--End of header-->

<div id="tagline-block">
	<div class="container_wrap">
        <div class="full_width">
            <div id="tagline">
                <p>“ Long established fact that a reader be <span>distracted by the readable content</span> of a page when looking at its layout the point of using the fact that i have already used ”</p>
            </div><!--End of tagline-->
        	<div class="clear">&nbsp;</div>
			<div class="hrline">&nbsp;</div>
        </div><!--End of full_width-->
        <div class="clear">&nbsp;</div>
    </div><!--End of container_wrap-->
</div><!--End of tagline-block-->


<div id="feature-block">
	<div class="container_wrap">
	
    	<div class="one_fourth">
            <p class="imgframe"><img alt="" src="/images/icons/medium1.jpg" style="padding: 6px;"></p>
        	<h3 class="font marg-15">Ruby on Rails</h3>
            <p><span class="cap left">1</span>we have been leveraging the framework to deliver robust, scalable, and cutting edge applications. The quality of code of our RoR apps is unparalleled.</p>
            <a href="#" class="btnalter">View More Details</a>
			<div class="clear">&nbsp;</div>
        </div><!--End of one_fourth-->
		
       	<div class="one_fourth">
            
            <p class="imgframe"><img alt="" src="/images/icons/medium2.jpg" style="padding: 6px;"></p>
            
        	<h3 class="font marg-15">Apple iPhone and iPad</h3>
            <p><span class="cap left">2</span>Morbi sagittis, dolor nec tempor condimentum, libero quam euismod quam, sed sodales purus nisl eget felis. Pellentesque elit massa, cursus id venenatis quis; feugiat a turpis.</p>
			<a href="#" class="btnalter">View More Details</a>
			<div class="clear">&nbsp;</div>
         </div><!--End of one_fourth-->
		 
         <div class="one_fourth">
            <p class="imgframe"><img alt="" src="/images/icons/medium3.jpg" style="padding: 6px;"></p>
          	<h3 class="font marg-15">Google Android</h3>
            <p><span class="cap left">3</span>Morbi sagittis, dolor nec tempor condimentum, libero quam euismod quam, sed sodales purus nisl eget felis. Pellentesque elit massa, cursus id venenatis quis; feugiat a turpis.</p>
			<a href="#" class="btnalter">View More Details</a>
			<div class="clear">&nbsp;</div>
         </div><!--End of one_fourth-->
		 
         
		 
         <div class="clear">&nbsp;</div>
		 
         <div class="full_width">
         	<div class="hrline">&nbsp;</div>
         </div><!--End of full_width-->
		 
         <div class="clear">&nbsp;</div>
    </div><!--End of container_wrap-->
</div><!--End of feature-block-->
