	<div style="padding:10px;"></div>
	</div><!--End of inner-->
    </div><!--End of header-bg-->
</div><!--End of header-->

<div id="breadcrums">
	<div class="container_wrap">
		<div class="full_width">
			<div class="breadcrums">
				<div class="column-680">
					<h2 class="font">Portfolio Option One</h2>
				</div><!--End of column-680-->
				<div class="one_fourth">
				<div class="inlinesearch">
					<input type="text" class="input-active" value="Search.." title="Search.." />
					<input id="search-submit" type="submit" value="" />
				</div><!--End of inlinesearch-->
			</div><!--End of one_fourth-->
		</div><!--Endo of breadcrums-->
		<div class="clear">&nbsp;</div>
	</div><!--End of full_width-->
	<div class="clear">&nbsp;</div>
	</div><!--End of container_wrap-->
</div><!--End of breadcrums-->

<!--Begin of fliter-->

<div class="container_wrap">
	<div class="full_width">
		<ul class="filter">
			<li><a  href="#" class="current"><span>All</span></a></li>
			<li><a href="#"><span>Web Development</span></a></li>
			<li><a href="#"><span>Logo</span></a></li>
			<li><a href="#"><span>Branding</span></a></li>
			<li><a href="#"><span>Web Design</span></a></li>
			<li><a href="#"><span>Javascript</span></a></li>
		</ul><!--End of filter-->
		<div class="hrline">&nbsp;</div>
	</div><!--End of full_width-->
	<div class="clear">&nbsp;</div>
</div><!--End of container_wrap-->

<!--End of fliter-->
<div id="portfolio-block">
	<div class="container_wrap">
	
		<div class="port-block fade">
			<div class="half_width">
				<div class="project08">
					<a class="bigthumb" href="/images/assets/28-big.jpg" title=""><span class="hoverimageflat"></span><img src="/images/assets/16.jpg" alt="" /></a>
				</div><!--End of project08-->
			</div><!--End of half_width-->	
			<div class="half_width">
				<h2 class="font">Nullam volutpat ultricies ante vel</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam velit justo, adipiscing eu euismod vitae, tincidunt eget nulla.</p>
				<ul class="checklist">
					<li><a href="#">Valid HTML/CSS</a></li>
					<li><a href="#">Multiple skin and layout</a></li>
				</ul>
				<div class="clear">&nbsp;</div>
				<a href="#" class="btnalter">View Project Gallery</a><a href="#" class="btnalter">View Website</a>
			</div><!--End of half_width-->
		</div><!--End of port-block-->
		
		<div class="clear">&nbsp;</div>
		
		<div class="full_width">
			<div class="hrline">&nbsp;</div>
		</div><!--End of full_width-->
		<div class="clear">&nbsp;</div>
		
		<div class="port-block fade">
			<div class="half_width">
				<div class="project08">
					<a class="bigthumb" href="/images/assets/30-big.jpg" title=""><span class="hoverimageflat"></span><img src="/images/assets/16-next.jpg" alt="" /></a>
				</div><!--End of project08-->
			</div><!--End of half_width-->	
			<div class="half_width">
				<h2 class="font">Nullam volutpat ultricies ante vel</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam velit justo, adipiscing eu euismod vitae, tincidunt eget nulla.</p>
				<ul class="checklist">
					<li><a href="#">Valid HTML/CSS</a></li>
					<li><a href="#">Multiple skin and layout</a></li>
				</ul>
				<div class="clear">&nbsp;</div>
				<a href="#" class="btnalter">View Project Gallery</a><a href="#" class="btnalter">View Website</a>
			</div><!--End of half_width-->
		</div><!--End of port-block-->
		
		<div class="clear">&nbsp;</div>
		
		<div class="full_width">
			<div class="hrline">&nbsp;</div>
		</div><!--End of full_width-->
		<div class="clear">&nbsp;</div>
		
		<div class="port-block fade">
			<div class="one_fourth">
				<div class="project09">
					<a class="bigthumb" href="/images/assets/30-big.jpg" title=""><span class="hoverimagesmall"></span><img src="/images/assets/17.jpg" alt="" /></a>
				</div><!--End of project09-->
			</div><!--End of one_fourth-->
			<div class="one_fourth">
				<h2 class="font">Quisque justo urna</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam</p>
				<ul class="checklist">
					<li><a href="#">One</a></li>
					<li><a href="#">Two</a></li>
				</ul>
				<div class="clear">&nbsp;</div>
				<a href="#" class="btnalter">View Project Gallery</a>
			</div><!--End of one_fourth-->
		</div><!--End of port-block-->
		
		<div class="port-block fade">
			<div class="one_fourth">
				<div class="project09">
					<a class="bigthumb" href="/images/assets/28-big.jpg" title="" href="#"><span class="hoverimagesmall"></span><img src="/images/assets/18.jpg" alt="" /></a>
				</div><!--End of project09-->
			</div><!--End of one_fourth-->
			<div class="one_fourth">
				<h2 class="font">Quisque justo urna</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam</p>
				<ul class="checklist">
					<li><a href="#">One</a></li>
					<li><a href="#">Two</a></li>
				</ul>
				<div class="clear">&nbsp;</div>
				<a href="#" class="btnalter">View Project Gallery</a>
			</div><!--End of one_fourth-->
		</div><!--End of port-block-->
		
		<div class="clear">&nbsp;</div>
		
		<div class="full_width">
			<div class="hrline">&nbsp;</div>
		</div><!--End of full_width-->
		<div class="clear">&nbsp;</div>
		
    </div><!--End of container_wrap-->
</div><!--End of portfolio-block-->

<!--Begin of Pagination-->

<div class="container_wrap">
	<div class="full_width">
		<ul class="paginav">
			<li><a href="#" >Prev</a></li>
			<li><a href="#" class="current">1</a></li>
			<li><a href="#" >2</a></li>
			<li><a href="#" >3</a></li>
			<li><a href="#" >4</a></li>
			<li><a href="#" >Next</a></li>
		</ul>
		<div class="clear">&nbsp;</div>
	</div><!--End of full_width-->
	<div class="clear">&nbsp;</div>
</div><!--End of container_wrap-->

<!--End of Pagination-->